<div class="container">
  <div class="header">เปลี่ยนตอนวิชาเรียน</div>
  <div class="main">
    <table class="table table-secondary table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">รหัสวิชา-รายวิชา</th>
          <th scope="col">หน่วยกิต</th>
          <th scope="col">ตอนเรียน-เวลาเรียน</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td class="section">
            S1 W 8:30-10:30
          </td>

        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td class="section">
            S1 W 8:30-10:30
          </td>

        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td class="section">
            S1 W 8:30-10:30
          </td>
        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td class="section">
            S1 W 8:30-10:30
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div class="input-field">
        <input type="text" class="form-control" placeholder="รหัสวิชา">
        <input type="text" class="form-control" placeholder="ตอนเรียนเก่า">
        <input type="text" class="form-control" placeholder="ตอนเรียนใหม่">
      </div>
      <div class="input-field">
        <input type="text" class="form-control" placeholder="รหัสวิชา">
        <input type="text" class="form-control" placeholder="ตอนเรียนเก่า">
        <input type="text" class="form-control" placeholder="ตอนเรียนใหม่">
      </div>
      <div class="input-field">
        <input type="text" class="form-control" placeholder="รหัสวิชา">
        <input type="text" class="form-control" placeholder="ตอนเรียนเก่า">
        <input type="text" class="form-control" placeholder="ตอนเรียนใหม่">
      </div>
    </div>

    <div class="button">
      <div class="submitbtn">
        <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>


