<div class="container">
  <div class="header">ลงทะเบียนวิชาเรียน</div>
  <div class="main">
    <table class="table table-secondary table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">รหัสวิชา-รายวิชา</th>
          <th scope="col">หน่วยกิต</th>
          <th scope="col">ตอนเรียน-เวลาเรียน</th>
          <th scope="col">วิชาที่เลือก</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td>
            <select class="form-select" aria-label="Default select example">
              <option selected>Choose section and time</option>
              <option value="#">S1 W 8:30-10:30</option>
              <option value="#">S2 W 8:30-10:30</option>
              <option value="#">S3 W 8:30-10:30</option>
            </select>
          </td>
          <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td>
            <select class="form-select" aria-label="Default select example">
              <option selected>Choose section and time</option>
              <option value="#">S1 W 8:30-10:30</option>
              <option value="#">S2 W 8:30-10:30</option>
              <option value="#">S3 W 8:30-10:30</option>
            </select>
          </td>
          <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td>
            <select class="form-select" aria-label="Default select example">
              <option selected>Choose section and time</option>
              <option value="#">S1 W 8:30-10:30</option>
              <option value="#">S2 W 8:30-10:30</option>
              <option value="#">S3 W 8:30-10:30</option>
            </select>
          </td>
          <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td>
            <select class="form-select" aria-label="Default select example">
              <option selected>Choose section and time</option>
              <option value="#">S1 W 8:30-10:30</option>
              <option value="#">S2 W 8:30-10:30</option>
              <option value="#">S3 W 8:30-10:30</option>
            </select>
          </td>
          <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
        </tr>
      </tbody>
    </table>
    <div class="add">
      <h5>กรณีต้องการลงทะเบียนเพิ่มเติม</h5>
        <div class="input-group">
          <span class="input-group-text">รหัสวิชา-ตอนเรียน</span>
          <input type="text" aria-label="First name" class="form-control" placeholder="รหัสวิชา">
          <input type="text" aria-label="Last name" class="form-control" placeholder="ตอนเรียน">
        </div>
    </div>
    <div class="submit">
      <button type="button" class="btn btn-success" (click)="nextpage()">Next</button>
    </div>
  </div>
</div>
