<div class="container">
  <div class="header">ลงทะเบียนวิชาเรียน</div>
  <div class="main">
    <table class="table table-secondary table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">รหัสวิชา-รายวิชา</th>
          <th scope="col">หน่วยกิต</th>
          <th scope="col">ตอนเรียน-เวลาเรียน</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td class="section">
            S1 W 8:30-10:30
          </td>

        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td class="section">
            S1 W 8:30-10:30
          </td>

        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td class="section">
            S1 W 8:30-10:30
          </td>
        </tr>
        <tr>
          <th scope="row">040613325 PRINCIPLES OF PROGRAMMING LA</th>
          <td>3(3-0)</td>
          <td class="section">
            S1 W 8:30-10:30
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-secondary table-striped table-bordered">
      <thead>
        <tr>
          <th>ค่าบำรุงและค่าทำเนียมอัตราปกติ</th>
          <th>จำนวน(บาท)</th>
          <th>ต้องชำระ(บาท)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ค่าบำรุงการศึกษาภาคละ</td>
          <td>30,000</td>
          <td>30,000</td>
        </tr>
        <tr>
          <td>รวม</td>
          <td colspan="3">30,000</td>
        </tr>
      </tbody>
    </table>
    <div class="button">
      <div class="backbtn">
        <button type="button" class="btn btn-success" (click)="back()" >Back</button>
      </div>
      <div class="submitbtn">
        <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>

